/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

/*********************
NAVIGATION STYLES
*********************/

#menu {
	display: none;
}

.nav {
	border: 0;

	ul {
		background:$black;
		margin-top:0;
	}
	&.front-nav {
		li{
			a{
				&:hover, &:focus {
					color: $meta-gray;
				}
			}
		}
	}

	&.top-nav {
				position: absolute;
		top: 50%;
		right: 0%;
		&.js {
			display: inline;
		}
	}
	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				color: $black;
				background-color: transparent;
				text-decoration: none;
			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */